<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @blog.content %>
</p>

<p>
  <strong>Posted by:</strong>
  <%= @blog.user.name %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog), class: 'btn btn-warning' %> |
<%= link_to 'Back', blogs_path, class: 'btn btn-primary'%>
